* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid black;
}

body {
  width: 29.7cm;
  height: 21cm;
}

.boxed__container {
  display: flex;
}

.boxed--1,
.boxed--2 {
  width: 25.7cm;
  height: 27.7cm;
}
