* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid black;
}

body {
  width: 29.7cm;
  height: 21cm;
}

.boxed__container {
  width: 100%;
  height: 100%;
  margin: 1.2cm 1cm 0.8xm;
}

.boxed--1,
.boxed--2 {
  display: inline-block;
  width: 12.85cm;
  height: 19cm;
}
